<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une actualité</title>
</head>
<body>
    <form action="/addnews" method="get">
        Titre:
        <br>
        <input type="text" name="letitre" />
        <br><br>
        Description:
        <br>
        <textarea name="ladescription"></textarea>
        <br><br>
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>
